
*{
  box-sizing: border-box ;
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
} 
html, body{
  background: linear-gradient(195deg, 
  rgba(255, 95, 14, 1) 0%,
  rgba(255, 89, 133, 1)98%);
}

